.about-container {
    display: flex;
    width: 100%;
    height: 650px;
    padding: 1em;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
    border: 3px solid #1F4690;
    border-radius: 10px;
    border-right: none;
    margin-left: 2em;
    margin-top: 2em;
    width: 50%;
    overflow: hidden;
}

.about-h1 {
    font-size: 2.8em;
    font-weight: 600;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #FFA500;
    margin-bottom: 0.2em;
}

.about-hr {
    width: 20%;
    background-color: #FFA500;
    border: 2px solid #FFA500;
    border-radius: 5px;
    margin-bottom: 0.4em;
    animation-duration: 4s;
    animation-name: slidein;
}

.about-p {
    line-height: 1.5;
    font-size: 1.2em;
}


.about-span {
    margin-top: 0.5em;
    font-size: 1.4em;
    color: #3A5BA0;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    display: flex;
    flex-direction: column;
}

.social-img {
    margin: 0.4em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    width: 2.3em;
    height: 2em;
}

.about-img {
    margin: 2em;
}

@media (max-width:1024px) {
    .about-container {
        flex-direction: column;
    }

    .about-info {
        width: 90%;
        padding: 2em;
        margin: 2em;
        margin-left: 3em;
        border: 3px solid #1F4690;
    }

    .about-p {
        font-size: 1.4em;
    }

    .about-img {
        margin: 0 auto;
        width: 30%;
    }

}