.contact-main {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
}

.contact-font {
    background: url('../assets/contact.svg');
    background-repeat: no-repeat;
    background-size: 1.4em;
    color: #023047;
    text-align: center;
    font-size: 5em;
    font-weight: 600;
    overflow: hidden;
    width: 50%;
    font-family: 'Kantumruy Pro', sans-serif;
    margin-left: 0.8em;
}

.contact-form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 6em;
}

label {
    font-weight: 300;
    font-size: 1.2em;
    color: #023047;
}

input {
    padding: 0;
    margin-bottom: 1em;
    width: 70%;
    height: 2em;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: grey;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1em;
    font-weight: 200;
    opacity: .8;
    color: grey;
    padding-left: 0.4em;
}

input:focus {
    font-size: 1em;
    color: grey;
    outline: none;
}

textarea {
    width: 70%;
}

.submit-btn {
    margin-top: 2em;
    width: 25%;
    padding: 0.5em 1.5em;
    font-size: 1em;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: #023047;
}