.footer-main {
    background-color: black;
    width: 100%;
    height: 100px;
}

.footer-p {
    font-family: 'Kantumruy Pro', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: wheat;
    padding-top: 1.5em;
}