.projects-main-container {
    background: #4b6587;
    padding: 1em 0;

}

.projects-container {
    display: flex;
    width: 100%;
    /* height: 600px; */
}

.projects-main-h1 {
    text-align: center;
    color: white;
    font-size: 2.4em;
    font-family: 'Kantumruy Pro', sans-serif;
}

.projects-img {
    border-radius: 30px;
    width: 60%;
}

.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

}

.projects-h1 {
    font-size: 2.2em;
    font-weight: 600;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #e8f1f5;
    margin-bottom: 0.2em;
}

.projects-hr {
    width: 20%;
    background-color: #e8f1f5;
    border: 1px solid #e8f1f5;
    border-radius: 5px;
    margin-bottom: 0.4em;
    transition: 1s;
}


.projects-p {
    line-height: 1.5;
    color: #e8f1f5;
    font-size: 1em;
}

.projects-span {
    color: grey;
    font-size: 0.8em;
}

.more-span {
    font-family: 'Kantumruy Pro', sans-serif;
    padding-left: 1em;
    color: white;
    font-size: 2em;
}

@media (max-width: 1024px) {
    .projects-main-container {
        height: 750px;
    }

    .projects-container {
        flex-direction: column;

    }

    .projects-img {
        width: 90%;
        height: 70%;
    }

    .projects-info {
        padding-left: 4em;
        padding-top: 0;
    }

    .projects-h1 {
        font-size: 1.8em;
    }

    .more-span {
        padding-left: 2.4em;
        font-size: 1.6em;
    }
}

@media (max-width:900px) {
    .projects-main-container {
        height: 500px;
    }

    .projects-container {
        flex-direction: column;
        /* height: 480px; */
    }

    .projects-img {
        width: 90%;
        border-radius: none;
    }

    .projects-info {
        padding-left: 1.5em;
    }

    .projects-h1 {
        font-size: 1.6em;
        display: block;

    }

    .projects-p {
        font-size: 1em;
    }

    .projects-span {
        font-size: 1em;
    }

    .more-span {
        padding-left: 0.9em;
        font-size: 1.4em;
        /* display: none; */
    }
}