@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;400&family=Splash&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    /* creates padding around scroll thumb */
}